<div class="min-h-screen bg-gray-100">
  <nav class="main-navbar">
    <div class="navbar-container">
      <div class="navbar-title">🌍 Countries App</div>
      <div class="navbar-links">
        <a routerLink="listado" routerLinkActive="active" class="nav-link">Listado</a>
        <a routerLink="administracion" routerLinkActive="active" class="nav-link">Administración</a>
      </div>
    </div>
  </nav>
  
  <main class="container mx-auto py-8">
    <router-outlet></router-outlet>
  </main>
</div> 